<form action="index.php?modo=CamposLlenos" method="POST">
  <div class="form-group has-feedback">
    <input type="text" name="user" class="form-control" placeholder="Usuario" required>
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox icheck">
        <label>
          <input type="checkbox"> Recordar
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat" >Entrar</button>
    </div>
  </div>
</form>
<a href="#">Olvide mi contraseña</a><br>
</div>
</div>
